{% if page.layout == "about" %}
<p class="mt-4"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=mthHA3QB002t6zM5yJw19efb4eztGNtGtWSKzlno4KZURVNXRzVBMUtLUjlDMFVLUTVFTkJSSUNZTy4u" target="_blank" rel="noopener" class="btn btn-primary">Contact us about this collection</a></p>
{% else %}
<p class="mt-4"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=mthHA3QB002t6zM5yJw19efb4eztGNtGtWSKzlno4KZURVNXRzVBMUtLUjlDMFVLUTVFTkJSSUNZTy4u" target="_blank" rel="noopener" class="btn btn-sm btn-primary">Contact us about this record</a></p>
{% endif %}