{% if page.layout == "about" %}
<h2 id="accessibility-information">Accessibility information</h2>

<p>The Iowa State University Library is committed to creating a welcoming digital environment for all learners. Certain material, particularly older materials, handwritten documents, and visual content, present unique challenges in providing more accessible resources. Please contact us if you need support accessing or using this archived content.</p>

<a href="https://app.smartsheet.com/b/form/9ab4361fffaf4d2f96684ba9a52c0dd8" target="_blank" rel="noopener" class="btn btn-primary">
    Contact us about this record 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg>
</a>
{% else %}
<div class="alert alert-light mt-4">
    <p><small>The Iowa State University Library is committed to creating a welcoming digital environment for all learners. Certain material, particularly older materials, handwritten documents, and visual content, present unique challenges in providing more accessible resources. Please contact us if you need support accessing or using this archived content.</small></p>
    <a href="https://app.smartsheet.com/b/form/9ab4361fffaf4d2f96684ba9a52c0dd8" target="_blank" rel="noopener" class="btn btn-sm btn-primary">
        Contact us about this record 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg>
    </a>
</div>
{% endif %}