{% comment %}

    Adds a box to highlight rights information if item has a "rights" or "rightsstatement" field.

{%- endcomment -%}
<div class="card">
    <div class="card-header">Rights</div>
    <div class="card-body">
        <dl>
            {% if page.rights %}<dt>Local Rights Statement:</dt>
            <dd>{{ page.rights }}</dd>{% endif %}
            {% if page.rightsstatement %}<dt>Standardized Rights:</dt>
                {% assign rightsstatements = page.rightsstatement | split: ";" %}
                <dd>
                    <ul class="list-unstyled">
                        {% for rights_url in rightsstatements %}
                        {%- if rights_url != "" and rights_url != blank -%}
                        <li><a href="{{ rights_url }}">{{ rights_url }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </dd>  
            {% endif %}
        </dl>
    </div>
</div>