{% comment %}

    Adds a basic "contact us" box for the item with link to contact us button and accessibility statement.

{%- endcomment -%}

<div class="container about-contents">
    <h2 id="accessibility-information">Accessibility information</h2>

    <p>The Iowa State University Library is committed to providing access to its digital content. Certain material, particularly older materials, handwritten documents, and visual content, present unique challenges in providing fully accessible resources. If you are experiencing barriers to accessing, viewing, or navigating the Digital Collections site please contact us for assistance or to request additional formats.</p>

    <div class="text-center">
        {% include item/contact-btn.html %}
    </div>

</div>