{% comment %}

    Adds a box to highlight rights information if child item has a "rights" or "rightsstatement" field.

{%- endcomment -%}
<div class="card mb-2">
    <div class="card-header">Rights</div>
    <div class="card-body">
        <dl>
            {% if child.rights %}<dt>Rights:</dt>
            <dd>{{ child.rights }}</dd>{% endif %}
            {% if child.rightssstatement %}<dt>Standardized Rights:</dt>
            {% assign rightsstatement = page.rightsstatement | split ";"}
            <dd>
                <ul class="list-unstyled">
                    {% for rights_url in rightsstatements %}
                    <li><a target="_blank" rel="noopener" href="{{ rights_url }}">{{ rights_url }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        </dl>
    </div>
</div>